<html lang="en">
    <meta name="viewport" content="width=device-width, height=device-height" />
    <body class="assignment">
        <head class="site-header" role="banner" style="background-color: #fdfdfd">   
        {%- include head.html -%}
        <div class="wrapper" style="margin-left: 0;margin-right: 0;">
            {%- include nbheader.html -%}
        </div>
        </head> 
    </body>
    <object class="page-content" id="nbCVRP" data="CVRP-pluto.html" width="100%" style="padding-top: 0px"></object>
    <div>
        <br> 
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="wrapper" style="margin-left: auto; margin-right: auto; position: fixed; bottom:0%; left:0%; right:0%; background-color: #ffffff">
        {%- include nbfooter.html -%}
    </div>    
</html>